'.source.rms':
  'Title':
    'prefix': 'title'
    'body': '/* ************ ${1:MAP NAME} ************ */'

  'Sections':
    'prefix': 'sections'
    'body': """
      /* ************************************************************************** */
      <PLAYER_SETUP>

      /* ************************************************************************** */
      <LAND_GENERATION>

      /* ************************************************************************** */
      <ELEVATION_GENERATION>

      /* ************************************************************************** */
      <CLIFF_GENERATION>

      /* ************************************************************************** */
      <TERRAIN_GENERATION>

      /* ************************************************************************** */
      <CONNECTION_GENERATION>

      /* ************************************************************************** */
      <OBJECTS_GENERATION>

    """

  'Player Setup':
    'prefix': 'player_setup'
    'body': """
      /* ************************************************************************** */
      <PLAYER_SETUP>

    """

  'Land Generation':
    'prefix': 'land_gen'
    'body': """
      /* ************************************************************************** */
      <LAND_GENERATION>

    """

  'Elevation Generation':
    'prefix': 'elevation_gen'
    'body': """
      /* ************************************************************************** */
      <ELEVATION_GENERATION>

    """

  'Cliff Generation':
    'prefix': 'cliff_gen'
    'body': """
      /* ************************************************************************** */
      <CLIFF_GENERATION>

    """

  'Terrain Generation':
    'prefix': 'terrain_gen'
    'body': """
      /* ************************************************************************** */
      <TERRAIN_GENERATION>

    """

  'Connection Generation':
    'prefix': 'connection_gen'
    'body': """
      /* ************************************************************************** */
      <CONNECTION_GENERATION>

    """

  'Objects Generation':
    'prefix': 'objects_gen'
    'body': """
      /* ************************************************************************** */
      <OBJECTS_GENERATION>

    """

  'Random Block':
    'prefix': 'sr'
    'body': """
      start_random
        percent_chance ${1:percent}
          ${2:body}
      end_random
    """

  'Percent Chance':
    'prefix': 'pc'
    'body': """
      percent_chance ${1:percent}
        ${2:body}
    """

  'Create Land':
    'prefix': 'cland'
    'body': """
      create_land {
        ${2:attributes}
      }
    """

  'Create Player Lands':
    'prefix': 'cplands'
    'body': """
      create_player_lands {
        ${2:attributes}
      }
    """

  'Create Elevation':
    'prefix': 'cele'
    'body': """
      create_elevation ${1:0-7} {
        ${2:attributes}
      }
    """

  'Create Terrain':
    'prefix': 'cter'
    'body': """
      create_terrain ${1:terrain} {
        ${2:attributes}
      }
    """

  'Create Object':
    'prefix': 'cobj'
    'body': """
      create_object ${1:object} {
        ${2:attributes}
      }
    """
