'.source.rms':
  'Title':
    'prefix': 'title'
    'body': """
      /* ************ ${1:MAP NAME} ************ */
      /*
       * ${2:description}
       * Author: ${3:author}
       */
       $4
    """

  'Sections':
    'prefix': 'sections'
    'body': """
      /* ************************************************************************** */
      <PLAYER_SETUP>
      $1
      /* ************************************************************************** */
      <LAND_GENERATION>

      /* ************************************************************************** */
      <ELEVATION_GENERATION>

      /* ************************************************************************** */
      <CLIFF_GENERATION>

      /* ************************************************************************** */
      <TERRAIN_GENERATION>

      /* ************************************************************************** */
      <CONNECTION_GENERATION>

      /* ************************************************************************** */
      <OBJECTS_GENERATION>

    """

  'Player Setup':
    'prefix': 'player_setup'
    'body': """
      /* ************************************************************************** */
      <PLAYER_SETUP>

    """

  'Land Generation':
    'prefix': 'land_gen'
    'body': """
      /* ************************************************************************** */
      <LAND_GENERATION>

    """

  'Elevation Generation':
    'prefix': 'elevation_gen'
    'body': """
      /* ************************************************************************** */
      <ELEVATION_GENERATION>

    """

  'Cliff Generation':
    'prefix': 'cliff_gen'
    'body': """
      /* ************************************************************************** */
      <CLIFF_GENERATION>

    """

  'Terrain Generation':
    'prefix': 'terrain_gen'
    'body': """
      /* ************************************************************************** */
      <TERRAIN_GENERATION>

    """

  'Connection Generation':
    'prefix': 'connection_gen'
    'body': """
      /* ************************************************************************** */
      <CONNECTION_GENERATION>

    """

  'Objects Generation':
    'prefix': 'objects_gen'
    'body': """
      /* ************************************************************************** */
      <OBJECTS_GENERATION>

    """

  'Random Block':
    'prefix': 'sr'
    'body': """
      start_random
        percent_chance ${1:percent}
          ${2:body}
      end_random
    """

  'Percent Chance':
    'prefix': 'pc'
    'body': """
      percent_chance ${1:percent}
        ${2:body}
    """

  'Create Land':
    'prefix': 'cland'
    'body': """
      create_land {
        ${2:attributes}
      }
    """

  'Create Player Lands':
    'prefix': 'cplands'
    'body': """
      create_player_lands {
        ${2:attributes}
      }
    """

  'Create Elevation':
    'prefix': 'cele'
    'body': """
      create_elevation ${1:0-7} {
        ${2:attributes}
      }
    """

  'Create Terrain':
    'prefix': 'cter'
    'body': """
      create_terrain ${1:terrain} {
        ${2:attributes}
      }
    """

  'Create Object':
    'prefix': 'cobj'
    'body': """
      create_object ${1:object} {
        ${2:attributes}
      }
    """

  'Define':
    'prefix': 'def'
    'body': '#define ${1:label}'

  'Constant':
    'prefix': 'const'
    'body': '#const ${1:name} ${2:n}'

  'Include DRS':
    'prefix': 'drs'
    'body': '#include_drs ${1:name}'

  'AI Info Map Type':
    'prefix': 'aiinfo'
    'body': 'ai_info_map_type ${1:MapName} ${2:IsNomad} ${3:IsMichi} ${4:IsStandard}'

  'Random Number':
    'prefix': 'rnd'
    'body': 'rnd(${1:min}, ${2:max})$3'
