'.source.rms':
  'Title':
    'prefix': 'title'
    'body': '/* ************ ${1:MAP NAME} ************ */'

  'Sections':
    'prefix': 'sections'
    'body': """
      /* ************************************************************************** */
      <PLAYER_SETUP>

      /* ************************************************************************** */
      <LAND_GENERATION>

      /* ************************************************************************** */
      <ELEVATION_GENERATION>

      /* ************************************************************************** */
      <CLIFF_GENERATION>

      /* ************************************************************************** */
      <TERRAIN_GENERATION>

      /* ************************************************************************** */
      <CONNECTION_GENERATION>

      /* ************************************************************************** */
      <OBJECTS_GENERATION>

    """

  'Player Setup':
    'prefix': 'player_setup'
    'body': """
      /* ************************************************************************** */
      <PLAYER_SETUP>

    """

  'Land Generation':
    'prefix': 'land_gen'
    'body': """
      /* ************************************************************************** */
      <LAND_GENERATION>

    """

  'Elevation Generation':
    'prefix': 'elevation_gen'
    'body': """
      /* ************************************************************************** */
      <ELEVATION_GENERATION>

    """

  'Cliff Generation':
    'prefix': 'cliff_gen'
    'body': """
      /* ************************************************************************** */
      <CLIFF_GENERATION>

    """

  'Terrain Generation':
    'prefix': 'terrain_gen'
    'body': """
      /* ************************************************************************** */
      <TERRAIN_GENERATION>

    """

  'Connection Generation':
    'prefix': 'connection_gen'
    'body': """
      /* ************************************************************************** */
      <CONNECTION_GENERATION>

    """

  'Objects Generation':
    'prefix': 'objects_gen'
    'body': """
      /* ************************************************************************** */
      <OBJECTS_GENERATION>

    """
